<ion-header>
  <ion-toolbar>
    <ion-title>Minha Conta
      <h5 class="titulo"> MAXX</h5>
      <img class="garantia" src="../../assets/selo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid>
    <ion-row name="profileInfo1">
      <ion-col size="1" class="ion-align-self-start"></ion-col>
      <ion-col class="ion-align-self-center">
        <ion-avatar>
          <img [src]="profilePicImg()" alt="Foto de Perfil">
        </ion-avatar>
        <ion-label class="ion-text-wrap">{{nomeAe}}</ion-label>
      </ion-col>
      <ion-col size="1" class="ion-align-self-end"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" color="danger" (click)="sair()">Logout</ion-button></ion-col>
    </ion-row>
  </ion-grid>
 
  <img class="dispositivo1" src="../../assets/notebok.png">
<table>
  <tr>
    <td>Nosso serviço é gratuito para os usuários, porque os fornecedores nos pagam quando recebem tráfego na web. Listamos todos os fornecedores - não apenas aqueles que nos pagam - em nosso diretório abrangente, para que você possa comparar, classificar e filtrar seus resultados para tomar a decisão mais informada possível.E AINDA ACESSAR DE QUALQUER LUGAR POR APLICATIVOS MOVÉIS</td>
    

</tr>
</table>
</ion-content>