ion-content{
    --background: url('../../assets/fundo1.png');
}
.ion-toolbar{
    --background:#0037ff;
    --display: flex;
    --align-items: center;
    --justify-content: center;
    --height: 100vh;

}
.ion-header{
    --background:#dff9fb;
    --display: flex;
    --align-items: center;
    --justify-content: center;
    --height: 100vh;
}
.ion1{
    --background:#dff9fb;
    --height: 1000px;
}
.ion2{
    --background:#dff9fb;
    --display: flex;
    --align-items: center;
    --justify-content: center;
    --height: 150vh;
}

 .ion-toolbar2{
    --background:#90e3e9;
    --display: flex;
    --align-items: center;
    --justify-content: center;
    --height: 100vh;

 } 