<ion-header style="background-color: blue;">
  <ion-toolbar class="barra">
    <ion-title>
      Balanço
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content section id="secaoone" class="slide">
<p><a href="/login">login</a></p>

  
  

<div class="parallax">

    <div style="position: absolute; left:0; top:70%; width: 100%; text-align: center;color: #000;;">
      <span style="color: #fff;padding: 18px;
      font-size: 25px; letter-spacing: 10px;"><h1 class="h1">ADM MAXX</h1></span>
    </div>
</div>


<div class="palavra"  style=" height:1000px;background:url('../../assets/administração.jpg');  background-repeat: no-repeat;
font-size:36px">
<img class="imagem" src="">

</div>
 
  
   <p>CONTEUDO DO SITE</p>
    </ion-content>